In [12]:
import pandas as pd 
import os 
import glob

In [ ]:
# Reemplaza 'nombre_de_tu_archivo.txt' con la ruta real
ruta_archivo = "../data/Exportaciones Diciembre 2022.txt"

try:
    df_x_dic2022 = pd.read_csv(
        ruta_archivo,
        sep=";",            # El separador que vimos en tu fila
        encoding="latin1",  # Codificación estándar para datos de Chile (acepta Ñ y tildes)
        decimal=",",        # Importante: Para que '41186,28' se lea como número y no texto
        low_memory=False,   # Para que no falle si el archivo es gigante
        header=None         # OJO: Pon None si la primera fila son datos. Si tiene títulos, quita esto.
    )
    
    print("Archivo cargado con éxito")
    print(f"Dimensiones: {df_x_dic2022.shape}")
    
    # Mostramos las primeras filas para entender qué es cada columna
    display(df_x_dic2022.head())

except Exception as e:
    print(f"❌ Error al leer: {e}")

Archivo cargado con éxito
Dimensiones: (87636, 84)

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,1122022,11075648,3,200,3,12754,100,13124,0,0,...,99.0,0000003600,KILOS NETO,68.0,NaN,SIN ACUERDO,0.0,NaN,NaN,3982.00
1,1122022,11075648,3,200,3,12754,100,13124,0,0,...,99.0,0000001330,KILOS NETOS,0.0,NaN,NaN,0.0,NaN,NaN,1477.00
2,1122022,11075648,3,200,3,12754,100,13124,0,0,...,99.0,0000000072,UNIDAD,0.0,NaN,NaN,0.0,NaN,NaN,9.76
3,1122022,11075648,3,200,3,12754,100,13124,0,0,...,99.0,0000000004,UNIDAD,71.0,NaN,UNIDAD DE MEDIDA ESTIMADA,0.0,NaN,NaN,4.98
4,1122022,11075648,3,200,3,12754,100,13124,0,0,...,99.0,0000000006,UNIDAD,71.0,NaN,UNIDAD DE MEDIDA ESTIMADA,0.0,NaN,NaN,30.20

In [ ]:
df_x_dic2022

In [5]:
nombres_cols = [
    "FECHAACEPT", "NUMEROIDENT", "ADUANA", "TIPOOPERACION", "CODIGORUTEXPORTADORPPAL",
    "NRO_EXPORTADOR", "PORCENTAJEEXPPPAL", "COMUNAEXPORTADORPPAL", "CODIGORUTEXPSEC",
    "NRO_EXPORTADOR_SEC", "PORCENTAJEEXPSECUNDARIO", "COMUNAEXPSECUNDARIO", "PUERTOEMB",
    "GLOSAPUERTOEMB", "REGIONORIGEN", "TIPOCARGA", "VIATRANSPORTE", "PUERTODESEMB",
    "GLOSAPUERTODESEMB", "PAISDESTINO", "GLOSAPAISDESTINO", "NOMBRECIATRANSP",
    "PAISCIATRANSP", "RUTCIATRANSP", "DVRUTCIATRANSP", "NOMBREEMISORDOCTRANSP",
    "RUTEMISOR", "DVRUTEMISOR", "CODIGOTIPOAUTORIZA", "NUMEROINFORMEEXPO",
    "DVNUMEROINFORMEEXP", "FECHAINFORMEEXP", "MONEDA", "MODALIDADVENTA", "CLAUSULAVENTA",
    "FORMAPAGO", "VALORCLAUSULAVENTA", "COMISIONESEXTERIOR", "OTROSGASTOS",
    "VALORLIQUIDORETORNO", "NUMEROREGSUSP", "ADUANAREGSUSP", "PLAZOVIGENCIAREGSUSP",
    "TOTALITEM", "TOTALBULTOS", "PESOBRUTOTOTAL", "TOTALVALORFOB", "VALORFLETE",
    "CODIGOFLETE", "VALORSEGURO", "CODIGOSEG", "VALORCIF", "NUMEROPARCIALIDAD",
    "TOTALPARCIALES", "PARCIAL", "OBSERVACION", "NUMERODOCTOCANCELA", "FECHADOCTOCANCELA",
    "TIPODOCTOCANCELA", "PESOBRUTOCANCELA", "TOTALBULTOSCANCELA", "NUMEROITEM", "NOMBRE",
    "ATRIBUTO1", "ATRIBUTO2", "ATRIBUTO3", "ATRIBUTO4", "ATRIBUTO5", "ATRIBUTO6",
    "CODIGOARANCEL", "UNIDADMEDIDA", "CANTIDADMERCANCIA", "FOBUNITARIO", "FOBUS",
    "CODIGOOBSERVACION1", "VALOROBSERVACION1", "GLOSAOBSERVACION1", "CODIGOOBSERVACION2",
    "VALOROBSERVACION2", "GLOSAOBSERVACION2", "CODIGOOBSERVACION3", "VALOROBSERVACION3",
    "GLOSAOBSERVACION3", "PESOBRUTOITEM"
]

cols = ["FECHAACEPT","REGIONORIGEN", "CODIGOARANCEL","FOBUS","GLOSAPAISDESTINO"]

indices_cols=[0,14,20,69,73] #0=fecha, 14=region, 20=paisdestino, 69=codigo producto, 73=fobus

In [6]:
print(cols)

['FECHAACEPT', 'REGIONORIGEN', 'CODIGOARANCEL', 'FOBUS', 'GLOSAPAISDESTINO']

In [8]:
ruta="../data/Exportaciones enero 2024.txt"

try:
    df_ene2024= pd.read_csv(
        ruta,
        sep=";",
        encoding="latin1",
        decimal=",",
        header=None,
        usecols=indices_cols,
        dtype={14: str, 69: str}
    )
    print("Exito")
    
    display(df_ene2024.head(5))
except Exception as e:
    print("Error al leer")

Exito

          0   14    20        69        73
0  2012024.0  13  PERU  33029090   7541.86
1  2012024.0  13  PERU  33021000     21.02
2  2012024.0  13  PERU  21039010  42589.76
3  2012024.0  13  PERU  33021000  44087.55
4  2012024.0  13  PERU  48191010    363.00

In [9]:
df_ene2024.columns = ["FECHA", "REGION_ID", "PAIS_DESTINO", "CODIGO_HS", "VALOR_FOB"]

In [ ]:
df_ene2024

In [11]:
print(df_ene2024.sort_values(by="VALOR_FOB",ascending=False).head(10))

           FECHA REGION_ID   PAIS_DESTINO CODIGO_HS    VALOR_FOB
3354  10012024.0         1      FILIPINAS  26030000  56272429.13
4984  19012024.0         2  COREA DEL SUR  26030000  43451083.57
3796   2012024.0         2          CHINA  26030000  41687076.25
3560  24012024.0         1      FILIPINAS  26030000  38742264.68
4220   3012024.0         2          CHINA  26030000  31845093.21
4367   5012024.0         2       ALEMANIA  26030000  29632507.78
4394   8012024.0         2       ALEMANIA  26030000  29217466.90
6427   9012024.0         3  COREA DEL SUR  26030000  27969576.37
4855  16012024.0         2        GEORGIA  26030000  27886461.49
4485   8012024.0         2          JAPON  26030000  27535871.24

In [14]:
print(df_ene2024["REGION_ID"].unique())

['13' '20' '2' '5' '15' '8' '6' '7' '1' '3' '4' '10' '12' '16' '9' '11'
 '14']

In [15]:
ruta = "../data/Exportaciones * 2024.txt"

indices = [0,14,20,69,73]
cols_nombres = ["FECHA","REGION_ID", "PAIS_DESTINO", "CODIGO_HS", "VALOR_FOB"]

mapa_regiones = {"1":"Tarapacá","2":"Antofagasta","3":"Atacama","4":"Coquimbo","5":"Coquimbo","6":"OHiggins","7":"Maule","8":"Biobio","9":"Araucania","10":"Los lagos",
                 "11":"Aysen","12":"Magallanes","13":"Metropolitana","14":"Los rios","15":"Arica y parinacota","16":"Ñuble","20":"Indeterminado"}

In [16]:
archivos = glob.glob(ruta)
archivos.sort()

for a in archivos[:3]:
    print(os.path.basename(a))
    
lista_dfs = []

if len(archivos) == 0:
    print("error no hay archivos")
    
else:
    for archivo in archivos:
        try:
            df_temp = pd.read_csv(
                archivo,
                sep=";",
                encoding="latin1",
                decimal=",",
                header=None,
                usecols=indices,
                dtype={14: str, 69: str}
            )
            lista_dfs.append(df_temp)
        except Exception as e:
            print("error",archivo,e)
    
    if lista_dfs:
        df_final = pd.concat(lista_dfs,ignore_index=True)
        df_final.columns = cols_nombres
        
        df_final["NOMBRE_REGION"] = df_final["REGION_ID"].map(mapa_regiones).fillna("otro")
        df_final["CODIGO_HS"] = df_final["CODIGO_HS"].str.replace(".","",regex=False).str.strip()
        
        os.makedirs("../data/processed",exist_ok=True)
        df_final.to_parquet("../data/processed/chilex_2024.parquet",index = False)

Exportaciones 01 2024.txt
Exportaciones 02 2024.txt
Exportaciones 03 2024.txt